.C{
    padding:30px;
}
.C hr {color:sienna;}
.C p {margin-left:20px;}
body {background-image:url("/webutilities/resources/img/AFTER.png");} .some_class {background-image:url("/webutilities/resources/img/After-PageSpeed-on-ARCC.png");} .some_other {background-image:url("/webutilities/resources/img/AFTER.png");}